.formContent{
    width: 100%;
    font-size: 1.4em;
    padding: .8em;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 6em;
    border: 1px solid palevioletred;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .formButton{
    background: palevioletred;
    border: 5px;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: .6em 1em;
    font-size: 1.1em;
  }